/* @import '~antd/dist/antd.css'; */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

*, .ant-form, .ant-input, .ant-radio, .ant-tag {
  font-family: 'Kanit', "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 55px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-notification {
  z-index: 1035 !important;
  top: 80px !important;
}